@tailwind base;
@tailwind components;
@tailwind utilities;



.shimmer-card{
    margin: 5px;
    margin-top: 3rem;
    padding: 5px;
    width: 15rem;
    height: 25rem;
    background-color: #f0f0f0;
    display: flex;
}
